.Calendar{
  min-width: 100vw;
  min-height: 100vh;
  color: black;
  background-image: url("../Photos/background4.jpg") ;
}

#go_home_fromcalendar{
  background-color: rgb(145, 0, 0);
  color: white;
  font-family: "verdana";
  font-size: 60%;
  position: fixed;
  left:1%;
  bottom: 10%;
  border-radius: 10%;
}

.Calendar iframe{
    border: 0px;
    width: 60vw;
    height: 70vh;
  }

  .Calendar button{
  background-color: transparent;
  border: none;
}


.Calendar #icons{
  display: flex;
  position: fixed;
  right: 1%;
  bottom: 10%;
  align-items: center;
  justify-content: center;
}
.Calendar button img{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
 
}
.Calendar button:hover{
  cursor: pointer;
}

.events{
  color:#74031b;
  font-family:"verdana";
  margin-left: 5%;

}