.Calendar{
  min-width: 100vw;
  min-height: 100vh;
  color: black;
  background-image: url("../Photos/background4.jpg") ;
}

.Calendar iframe{
    padding:0px;
    margin:0px;
    border: 0px;
    width: 600px;
    height: 400px;
  }

  .Calendar button{
  background-color: transparent;
  border: none;
}

/* .Calendar #addCalendar{
  position: absolute;
  padding: 2px;
  margin: 2px;
  width: 20%;
  height: 89%;
  right: 0%;
  top: 0%;
} */
/* .Calendar #help{
  width: 100%;
  height: 100%;
}
.Calendar #help_but{
  width: 30%;
  height:30%;
} */
/* .Calendar #help_img{
  width: 20px;
} */

/* .addEvent{
  width: 30%;
  height:30%;
}
.Calendar #add{
  width: 100%;
  height: 100%;
} */

.Calendar #icons{
  display: flex;
  position: absolute;
  right: 2%;
  bottom: 10%;
  align-items: center;
  justify-content: center;
}
.Calendar button img{
  background-color: transparent;
  border: none;
  width: 130%;
  height: 130%;
 
}

.Calendar button:hover
/* tr{
  padding: 0%;
} */

.events{
  color:#74031b;
  font-family:"verdana";
  margin-left: 5%;

}
