.Calendar{
  min-width: 100vw;
  min-height: 100vh;
  color: black;
  background-image: url("../Photos/background4.jpg") ;
}

.Calendar iframe{
    padding:0px;
    margin:0px;
    border: 0px;
    width: 600px;
    height: 400px;
  }

  .Calendar button{
  background-color: transparent;
  border: none;
}

.Calendar .line{
  background-color: rgb(145, 0, 0);
  color: beige;
  padding:2px;
  margin:2px;
  width: 100%;
  /* height: 20px; */
}
