.Calendar{
  min-width: 100vw;
  min-height: 100vh;
  color: black;
  background-image: url("../Photos/background4.jpg") ;
}

.Calendar iframe{
    padding:0px;
    margin:0px;
    border: 0px;
    width: 600px;
    height: 400px;
  }

  .Calendar button{
  background-color: transparent;
  border: none;
}



.Calendar #logout{
  border-radius: 50%;
  font-family:"verdana";
  color: black;
  height:36px;
  text-align: center;
  border-radius: 6px;
  margin: 2%;
  position: absolute;
  left:0%;
  bottom:7%;
}

/* .Calendar #addCalendar{
  position: absolute;
  padding: 2px;
  margin: 2px;
  width: 20%;
  height: 89%;
  right: 0%;
  top: 0%;
} */
