 .File{
    display: inline-block;
    width: 11.5%;
    height: 100%;
    margin: 2%;
    padding: 1%;
    border-radius: 5%; 
    color:#424649dc;
    font-size: 70%;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #imgBg{
    background-image: url("../Photos/file.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
  }

#file_up{
  width: 50px;
  opacity: 0.7;
}

#add_img{
  opacity: 0.7;
}
#file_img{
  width: 100%;
  height: 100%;
}

#but_span{
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  margin-right: 0.5%;
  border-radius: 6px;
  padding: 1%;
  z-index: 1;
}

#but:hover #but_span{
  visibility: visible;
}
.File #but{
  color: white;
  font-size: 70%;
  padding-top: 8%;
}

#upload_but{
  display: none;
}

#upload_but:hover{
  cursor: pointer;
}

#go_home_fromfile{
  background-color: rgb(145, 0, 0);
  color: white;
  font-family: "verdana";
  font-size: 60%;
  position: fixed;
  left:1%;
  bottom: 10%;
  border-radius: 10%;
}

#go_back{
  position: fixed;
  left: 1%;
  bottom: 15%;
}
#delete_file{
  float: left;
  padding-left: 0%;
  padding-bottom: 6%;
}

#delete_file img{
  width: 20px;
  height: 20px;  
}

/* #add_folder{
  width: 15%;
  height: 50%;
} */

.File #delete_file:hover .tooltiptext{
  background-color: black; 
  visibility: visible;
}
