 .File{
    display: inline-block;
    width: 11%;
    height: 60%;
    margin: 2%;
    padding: 1%;
    border-radius: 5%; 
    background-color:#b15550;
    color:#424649dc;
    font-size: 70%;
  }

#file_up{
  width: 20%;
  height: 30%;
}

#file_img{
  width: 20%;
  height: 30%;
}

#but_span{
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  margin-right: 0.5%;
  border-radius: 6px;
  padding: 1%;
  /* Position the tooltip */
  z-index: 1;
}

#but:hover #but_span{
  visibility: visible;
}
.File #but{
  color: white;
  font-size: 70%;
}

#upload_but{
  position: absolute;
  /* background-color: black; */
  background-image: url("../Photos/file_upload.png");
  width: 30%;
  height: 40%;
  
}
td{
  width: 0%;
}
#go_home_fromfile{
  background-color: rgb(145, 0, 0);
  color: white;
  font-family: "verdana";
  position: absolute;
  left:2%;
  bottom: 10%;
  border-radius: 10%;
}

#go_back{
  position: absolute;
  left: 3%;
  bottom:20%;
}
#delete_file{
  float: left;
}

#delete_file img{
  width: 20px;
  height: 20px;  
}


.File #delete_file:hover .tooltiptext{
  background-color: black; 
  visibility: visible;
}
