 .File{
    display: inline-block;
    width: 10%;
    height: 10%;
    margin: 2%;
    padding: 3%;
    /* border-radius: 50%; */
    background-color:rgb(167, 167, 167);
    /* קישור לקובץ עצמו */
    /* background-image: url('../Photos/background3.jpg');  */
    /* border: #424649dc;
    border-width: 5px;
    border-style: solid; */
    color:#424649dc;
    font-size: 70%;
  }
  
#but_span{
  visibility: hidden;
  /* width: 100px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

#but:hover #but_span{
  visibility: visible;
}
