.HomePage {
  min-width: 100vw;
  min-height: 100vh;
  color: black;
  background-image: url("../Photos/background4.jpg") ;
}

.HomePage button{
  background-color: transparent;
  border: none;
}
.HomePage button img{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.HomePage #archive:hover .tooltiptext{
  /* background-color: #424649dc; */
  visibility: visible;
}

.HomePage #add:hover .tooltiptext,
.HomePage .File:hover .tooltiptextname{
  /* background-color: #424649dc; */
  visibility: visible;
}

.HomePage .tooltiptext,
.HomePage .tooltiptextname{
  visibility: hidden;
  /* width: 100px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}



.HomePage #wrapper {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePage #logout {
  border-radius: 50%;
  background-color: rgb(145, 0, 0);
  color: white;
  height:36px;
  text-align: center;
  border-radius: 6px;
  margin: 2%;
}

.HomePage #logout:hover {
  background-color: rgb(87, 0, 0);
}

.HomePage button:hover {
  cursor:pointer;
}
.HomePage h1{
font-family:"verdana"
}


.HomePage .spinner-border{
  position: absolute; 
  top: 40%;
  height: 4rem;
  width: 4rem;
  /* display: block; */
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 50%; */
  display: flex !important;
  align-items:center !important;
  text-align: center !important;
  justify-content: center !important;
}

.HomePage iframe{
  border: 0px;
  width: 500px;
  height: 500px;
  /* scrolling :no; */
}



