.HomePage {
  min-width: 100vw;
  min-height: 100vh;
}
.HomePage h4, h1{
  color:turquoise;
  text-align: center;
}

.HomePage .Production{
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 15px;
  padding: 5%;
  border-radius: 50%;
  background-color:beige; 
  border: #11ad99;
  border-width: 5px;
  border-style: solid;
  color:turquoise;
}
.HomePage .Production img{
  width: 20px;
  height: 20px;
}

