.HomePage {
  min-width: 100vw;
  min-height: 100vh;
  color: black;
  background-color: beige;
}

/* .HomePage h5{
  color:white;
  text-align: center;
} */

.HomePage .Production{
  display: inline-block;
  width: 10%;
  height: 10%;
  margin: 2%;
  padding: 3%;
  border-radius: 50%;
  background-color:rgb(167, 167, 167); 
  border: #424649dc;
  border-width: 5px;
  border-style: solid;
  color:#424649dc;
  font-size: 70%;
}
.HomePage .Production img{
  width: 20px;
  height: 20px;
}

.HomePage button{
  background-color: transparent;
  border: none;
}
.HomePage button img{
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
}

.HomePage #archive:hover .tooltiptext{
  /* background-color: #424649dc; */
  visibility: visible;
}

.HomePage #add:hover .tooltiptext,
.HomePage .File:hover .tooltiptextname{
  /* background-color: #424649dc; */
  visibility: visible;
}

.HomePage .tooltiptext,
.HomePage .tooltiptextname{
  visibility: hidden;
  /* width: 100px; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}



.HomePage #wrapper {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HomePage #logout {
  border-radius: 50%;
  padding: 1%;
  background-color: rgb(145, 0, 0);
  color: white;
  height:36px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;

  font-size: xx-large;
}

.HomePage #logout:hover {
  background-color: rgb(87, 0, 0);
}

.HomePage button:hover {
  cursor:pointer;
}

.HomePage .File{
  display: inline-block;
  width: 10%;
  height: 10%;
  margin: 2%;
  padding: 3%;
  /* border-radius: 50%; */
  background-color:rgb(167, 167, 167); 
  border: #424649dc;
  border-width: 5px;
  border-style: solid;
  color:#424649dc;
  font-size: 70%;
}


