.Production{
  display: inline-block;
  width: 10%;
  height: 10%;
  margin: 2%;
  padding: 3%;
  border-radius: 5%;
  background-color:#efe9d2; 
  /* border: #424649dc;
  border-width: 5px;
  border-style: solid; */
  color:#424649dc;
  /* font-size: 70%; */
}
.Production #linkName{
  align-self: center;
  max-width: 5%;
  max-height: 5%;
  font-size: 70%;
  
}
.Production #archive img{
  width: 20px;
  height: 20px;  
}

.Production button{
    background-color: transparent;
    border: none;
}

.Production #archive:hover .tooltiptext{
    background-color: #424649dc; 
    visibility: visible;
  }
  
  
  .Production #linkName:hover .tooltiptextname{
    visibility: visible;
  }

  .Production .tooltiptextname {
    visibility: hidden;
    width: 100px;
    background-color: rgb(15, 1, 1);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
