.Production{
  display: inline-block;
  width: 11%;
  height: 1%;
  margin: 2%;
  padding: 1%;
  border-radius: 5%;
  background-color:white; 
  /* border: #424649dc;
  border-width: 5px;
  border-style: solid; */
  color:#ffff;
  font-size: 70%;
  z-index: -800;
}
.Production #linkName{
  
  align-self: center;
  width: 1%;
  height: 1%;
  font-size: 70%;
  color: "black";
  
}
.Production #add_archive img{
  width: 20px;
  height: 20px;
}
.HomePage #add_archive:hover .tooltiptext{
  /* background-color: #424649dc; */
  visibility: visible;
}

.Production .smallButton img{
  width: 20px;
  height: 20px;  
}

.Production button{
    background-color: transparent;
    border: none;
}

.Production #add_archive:hover .tooltiptext{
    background-color: #424649dc; 
    visibility: visible;
  }

#add_archive{
  float: left;
}
.Production .smallButton:hover .tooltiptext{
    /* background-color: #424649dc; */
    visibility: visible;
  }
  
  .Production #linkName:hover .tooltiptextname{
    visibility: visible;
    color: white;
  }

  .Production .tooltiptextname {
    visibility: hidden;
    width: 100px;
    background-color: rgb(15, 1, 1);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 5;
  }

