.Production button{
    background-color: transparent;
    border: none;
}

.Production #archive:hover .tooltiptext{
    /* background-color: #424649dc; */
    visibility: visible;
  }

  .Production .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .Production #linkName:hover .tooltiptextname{
    visibility: visible;
  }
  .Production .tooltiptextname {
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  