.Production p{
    color: white;
}

.Production{
    background-color: rgb(180, 7, 7);
    margin: 4%;
    display: inline-block;
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

.Production button{
    background-color: rgb(155, 154, 155);
}